name: Node.js CI

on:
    push:
        branches: ["main", "dev"]
    pull_request:
        branches: ["main", "dev"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
                node-version: "20.x"
                cache: "npm"
                
        - name: Install dependencies
          run: npm ci

        - name: Check types & syntax
          run: npm run check || echo "No check script found"

        - name: Run Linter
          run: npm run lint || echo "No lint script found"

        - name: Build Project
          run: npm run build --if-present

        - name: Run Tests
          run: npm test || echo "No tests found"

            